*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: ;
}

.fundo{
    background-color: #1D4B40;
    width: 660px;
    margin: 0 auto;
    padding: 10px;
}

.flex{
    display: flex;
}

.bloco{
    padding: 79px;
    margin: 5px;
    color: #1D4B40;
    background-color: #FAF7EE;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
    transition: transform 0.5s ease;
}

.bloco:hover{
    box-shadow: 0px 0px 20px #faf7ee6b;
    transform: scale(1.01);
}

.esticar{
    padding-right: 279px;
}

.esticarBaixo{
    padding-bottom: 276px;
}

.transparente{
    background-color: rgba(165, 42, 42, 0);
}

p{
    font-size: 40px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-color: #1B4C42;
    color: white;
    width: 660px;
}